<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="recipes" routerLinkActive="active" class="nav-link" >Recipe List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-recipe" routerLinkActive="active" class="nav-link" >Add Recipe</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"></h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2022</span>
    </div>
</footer>