<div class="col-md-6 offset-md-3">
    <h3> Create Recipe </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Recipe Name</label>
            <input type="text" class ="form-control" id = "recipeName"
                [(ngModel)] = "recipe.recipeName" name = "recipeName">
        </div>
    
        <div class="form-group">
            <label>Time To Cook (min)</label>
            <input type="text" class ="form-control" id = "time"
                [(ngModel)] = "recipe.time" name = "time">
        </div>
    
        <div class="form-group">
            <label>Ingredients</label>
            <input type="text" class ="form-control" id = "ingredients"
                [(ngModel)] = "recipe.ingredients" name = "ingredients">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 